[submodule "dotnet"]
	path = CoreCLR
	url = https://github.com/dotnet/runtime
	branch = v7.0.0-preview.7.22375.6
[submodule "Tests/Catch"]
	path = Tests/Catch
	url = https://github.com/philsquared/Catch.git
