name: Benchmarks

on:
  push:
    branches: [ develop/main, develop/3.10 ]
  pull_request:
    branches: [ develop/main, develop/3.10 ]

jobs:
  bench-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
        dot-net-version: [ "7.0.100" ]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install CLR requirements
        run: |
          sudo apt-get -y update
          sudo apt-get install -y cmake llvm-9 clang-9 autoconf automake \
          libtool build-essential python curl git lldb-6.0 liblldb-6.0-dev \
          libunwind8 libunwind8-dev gettext libicu-dev liblttng-ust-dev \
          libssl-dev libnuma-dev libkrb5-dev zlib1g-dev
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dot-net-version }}

      - name: Build Python Package
        shell: bash
        run: python -m pip install --upgrade pip && pip install .

      - name: Run benchmark tests
        shell: bash
        run: |
          python -m pip install -r Tests/requirements_test.txt
          python Tests/benchmarks/suite.py

  bench-macos-11:
    runs-on: macos-11
    strategy:
      matrix:
        python-version: ["3.10"]
        dot-net-version: [ "7.0.100" ]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dot-net-version }}

      - name: Build Python Package
        shell: bash
        run: python -m pip install --upgrade pip && pip install .

      - name: Run benchmark tests
        shell: bash
        run: |
          python -m pip install -r Tests/requirements_test.txt
          python Tests/benchmarks/suite.py

  bench-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.10"]
        dot-net-version: [ "7.0.100" ]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dot-net-version }}

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.3.1

      - name: Create Build Environment
        run: cmake -E make_directory ${{runner.workspace}}/build

      - name: Configure CMake
        shell: bash
        working-directory: ${{runner.workspace}}/build
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=Release

      - name: Build
        working-directory: ${{runner.workspace}}/build
        shell: bash
        run: cmake --build . --config Release

      - name: Install build deps
        shell: bash
        run: python -m pip install -U scikit-build

      - name: Build Python Package
        shell: bash
        run: python setup.py build

      - name: Install Python Package
        shell: bash
        run: python setup.py install

      - name: Run benchmark tests
        shell: bash
        run: |
          python -m pip install -r Tests/requirements_test.txt
          python Tests/benchmarks/suite.py
